.config_form {
  position: relative;
  height: max(85svh, 31rem);
  max-width: 888px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: start;

  background-color: var(--color-bg);
  border: 1px solid var(--color-subtle-bg);
  border-radius: 0.25rem;
  animation: slide-up 225ms ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
}

@media screen and (max-width: 820px) {
  .config_form {
    width: 27rem;
  }
}
