.outcome_inputs {
  /* position: relative; */
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template:
    'label color font duplicate delete' 1fr
    / auto min-content 12.8rem min-content min-content;

  margin: 0.5rem 0;
  margin-right: 0.5rem;
  padding: 0.25rem;

  border: 1px solid var(--color-border);
  border-radius: 0.1rem 1.25rem 1.25rem 0.1rem;
  background-color: var(--color-subtle-bg, white);

  box-shadow: 0px 2px 5px 0px #0f172a64;

  animation: slide-in 0.124s ease-out;
}

.outcome_label_input {
  grid-area: label;
  height: 1.5rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--color-contrast-border, black);
  border-radius: 0.1rem;
  min-width: 14rem;
}
.outcome_color_input {
  grid-area: color;
  min-height: 2rem;
  min-width: 2rem;
  margin: 0;
  padding: 0.15rem;
  border: 1px solid var(--color-contrast-border);
  border-radius: 0.1rem;
  background-color: var(--color-subtle-bg, white);
}
.outcome_font_select {
  grid-area: font;
}
.outcome_duplicate_button {
  grid-area: duplicate;
  max-width: 3rem;
}
.outcome_delete_button {
  grid-area: delete;
  max-width: 3rem;
}

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@media screen and (max-width: 820px) {
  .outcome_inputs {
    grid-template:
      'label label delete'
      'color font  duplicate' 2fr / min-content 14rem min-content;
  }
}
