.outcomes_menu {
  position: relative;
  height: calc(100% - 11rem);
  /* max-width: 40.5rem; */
  max-width: 100%;

  padding: 0 1rem;
  color: var(--color-fg, black);
}
.top_shadow {
  position: absolute;
  top: -10px;
  z-index: 10;
  pointer-events: none;
  width: 40rem;
  height: 30px;
  /* background-color: aquamarine; */
  background-color: transparent;
  box-shadow: 0px 10px 20px -13px #0f172a;
}
.outcomes_list {
  position: relative;
  min-height: 5rem;
  max-height: 86%;
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-top: 1px solid var(--color-hover, gray);
  border-bottom: 1px solid var(--color-hover, gray);

  overflow-y: scroll;
  scrollbar-color: var(--color-hover, gray) var(--color-subtle-bg, gray);
}

.add_outcomes_container {
  /* width: 95%; */
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
  margin: -0.5rem -0.25rem 3rem auto;
  padding: 0.25rem;

  background-color: var(--color-subtle-bg, gray);
  width: fit-content;
  border: 1px solid var(--color-border, gray);
  border-radius: 0.1rem 1.1rem 1.1rem 0.1rem;
  /* align-self: end; */
}
.add_outcomes_number_input {
  min-height: 1.5rem;
  padding-left: 0.25rem;
  border: 1px solid var(--color-contrast-border, black);
  border-radius: 0.1rem;
  min-width: 2rem;
  color: var(--color-fg, black);

  background-color: var(--color-input-bg, white);
}

@media screen and (max-width: 820px) {
  .outcomes_menu {
    height: calc(100% - 16rem);
    /* max-width: 23rem; */
    padding: 0 1rem;
    /* background-color: yellow; */
  }
  .top_shadow {
    /* width: 435px; */
    width: 22.25rem;
  }
}
