.outcomes_menu {
  position: relative;
  /* display: block; */
  /* background-color: white; */
  /* border-radius: 0.1rem; */
  /* height: max(90rem, 90vh); */
  /* height: max(34.5rem, 70%); */
  /* height: clamp(9rem, fit-content, min(34.5rem, 70%)); */
  height: calc(100% - 11rem);
  max-width: 40.5rem;
  /* height: max(26rem, 70svh); */
  /* flex-grow: 2; */
  /* flex-shrink: 4; */
  padding: 0 1rem;
  /* background-color: yellow; */
}
.outcomes_list {
  position: relative;
  width: max-content;
  min-height: 5rem;
  max-height: 86%;
  /* height: min(25rem, 70%); */
  overflow-y: scroll;
  padding: 0.25rem 0.5rem;
  border-top: 4px dashed #e2e8f0;
  border-bottom: 4px dashed #e2e8f0;
  /* background-color: blue; */
}
.add_outcomes_container {
  /* width: 95%; */
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: end;
  align-items: center;
  margin: -0.5rem 0.25rem 0 auto;

  background-color: white;
  width: fit-content;
  border-radius: 0.1rem 50% 50% 0.1rem;
  /* align-self: end; */
}
.add_outcomes_number_input {
  min-height: 1.5rem;
  padding-left: 0.25rem;
  border: 1px solid;
  border-radius: 0.1rem;
  min-width: 2rem;
}

@media screen and (max-width: 820px) {
  .outcomes_menu {
    height: calc(100% - 16rem);
    max-width: 23rem;
    padding: 0 1rem;
    /* background-color: yellow; */
  }
}
