.greyed_out {
  font-style: italic;
  color: var(--color-muted, gray);
}

/* SELECTORS */
.selector {
  align-self: center;
  border-radius: 0.1rem;

  & > div {
    min-height: max(1.25rem, 20px);
    border-color: var(--color-contrast-border, black);
    background-color: var(--color-input-bg);
  }

  &:focus {
    outline: 2px solid var(--color-accent, blue);
    &:hover {
      outline: 2px solid var(--color-accent-hover, darkblue);
    }
  }
}

/* OPTIONS */
.option {
  color: var(--color-fg, black);

  &:focus {
    outline: 2px solid var(--color-accent, blue);
    border-radius: 0.1rem;
    &:hover {
      outline: 2px solid var(--color-accent-hover, darkblue);
    }
  }
}

.palette_preview {
  height: max(1rem, 16px);
  /* height: auto; */
  /* height: 190%; */
  /* align-self: stretch; */
  /* width: 100%; */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
  padding: 0.1rem;
  border-radius: 0.1rem;

  & > .color_preview {
    height: 90%;
    aspect-ratio: 1;
    border: 1px solid var(--color-contrast-border);
  }
}

.radius_option {
  font-weight: bold;
}

.save_slot_preview {
  white-space: nowrap;

  & > .save_slot_index {
    display: inline-block;
    margin-right: 0.25rem;
    font-weight: bold;
  }

  & > .save_slot_name {
    white-space: normal;
    word-wrap: break-word;
    hyphens: auto;
  }
}
