.spin_button {
  cursor: pointer;
}

.spin_button_spin {
  animation: button-spin 2s linear infinite;
}
.spin_button_wind_up {
  animation: button-wind-up 5s linear forwards;
}

@keyframes button-spin {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}
@keyframes button-wind-up {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-0.25turn);
  }
}
