.main {
  position: relative;
  overflow: visible;
  display: flex;
  justify-content: center;
}
.wheel_arrow_container {
  /* height: min-content; */
  border: 1px solid black;
  box-shadow: 0px 0px 10px 0px black;
}
