.navbar {
  display: grid;
  grid-template: 'left right' 1fr / calc(50svw - 0.5rem) calc(50svw - 0.5rem);

  width: auto;
  padding: 0.5rem;

  /* background-color: blue; */

  @supports (-moz-appearance: none) {
    margin-inline: -1px;
  }
}
.navbar > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & button {
    min-width: 6rem;
  }
}
.navbar_left {
  grid-area: left;
  justify-content: start;
  /* background-color: red; */
}
.navbar_right {
  grid-area: right;

  justify-content: end;
  /* background-color: green; */
}
