.import_config_dialog {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 0.5rem; */
  height: min(85svh, 16rem);
  /* min-height: 6rem; */
  width: min(80svw, 40rem);
  margin-right: -0.1rem;

  overflow-x: hidden;
  /* overscroll-behavior-block: none; */
}

.file_input_label {
  display: block;
  justify-self: left;
  margin-left: 0.75rem;

  font-weight: 600;
  font-size: 0.9rem;

  line-height: 0.9rem;
  background-color: white;
  padding: 0 0.15rem;
  border-radius: 1.1rem;

  transform: translateY(0.25rem);
  z-index: 5;
}
.file_input {
  min-width: 20rem;
  border: 1px solid black;
  border-radius: 0.1rem;
  padding: 0.35rem;
  /* font-weight: 600; */
}
.file_input::file-selector-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  font-family: 'system-ui';
  font-size: 0.9rem;
  font-weight: 500;
  color: #1e293b;
  background-color: #e2e8f0;
  border: none;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  margin-right: 0.5rem;
}

.file_input::file-selector-button:hover {
  background-color: #cbd5e1;
}
.file_input::file-selector-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.warnings_container {
  /* padding-right: 1.5rem; */
  margin: auto;
}

.import_config_intro_warning {
  margin-top: -2rem;
  font-style: italic;

  & h3 {
    line-height: 0rem;
    color: #ef4444;
  }
}

.import_config_error {
  /* height: min-content; */
  margin-top: -2rem;
  padding: 0.5rem;
  padding-bottom: 0;

  font-style: italic;
  font-weight: bold;
  color: #ef4444;
  border: 2px solid #ef4444;
  border-radius: 0.1rem;

  & h3 {
    line-height: 0;
  }

  & span {
    font-weight: initial;
    font-style: normal;
    color: initial;
  }
}

.import_config_warnings_list {
  height: 6.5rem;
  overflow-y: scroll;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.1rem;
  background-color: #fbbf24;
  font-style: italic;

  & h3 {
    line-height: 1.5rem;
    margin-top: 0;
  }

  & ul {
    /* margin-top: 3rem; */
    margin: 1rem 0;
  }
}

.cancel_import_buttons_container {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  width: 100%;

  & button {
    min-width: 5.5rem;
  }
}
