.wallpaper_container {
  background-color: var(--color-bg);

  animation: fade-in 800ms ease-out forwards;
  transition: background-image 1000ms, background-color 1000ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}
